.slider{
	width: 100%;
	height: 250px;
	background-image: url(img/fondo_head.jpg);
	background-size: cover;
}
.slider div {
	width: 20%;
	padding: 100px;
}
.slider div img{
	margin: 10px;
}
.texto{
	padding: 40px;
	color: white;
}
table tr th {
	padding: 10px;
	color: white;
	border: 2px solid white;
}
table {
	background-color: black;
}
table thead tr th{
	text-align: center;
}
.forms{
	margin: 10%;
}
body{
	width: 100%;
	background-image: url(img/fondo_body.jpg);
	background-size: cover;
}
#boton{
	background-color: black;
}
#cheks{
	background-color: black;
}